################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages/
/BasicService/obj
/BasicService/bin/
/Service-Fabric-HotTelemetry/Service_Fabric_HotTelemetry.sfproj.user
/Service-Fabric-HotTelemetry/obj/x64/Debug
/Service-Fabric-HotTelemetry/pkg/Debug
/Service-Fabric-HotTelemetry/obj/x64/Debug
/Service-Fabric-HotTelemetry/obj/x64/Debug/Service_Fabric_HotTelemetry.sfprojResolveAssemblyReference.cache
/Service-Fabric-HotTelemetry/obj/x64/Debug/Service_Fabric_HotTelemetry.sfproj.FileListAbsolute.txt
/Service-Fabric-HotTelemetry/obj/x64/Debug/CoreCompileInputs.cache
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/web.config
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Validation.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Xml.XPath.XDocument.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Xml.XPath.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Xml.XmlDocument.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Xml.ReaderWriter.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Threading.Thread.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Threading.Tasks.Extensions.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Threading.Tasks.Dataflow.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Text.RegularExpressions.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Text.Encodings.Web.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Text.Encoding.CodePages.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Security.Cryptography.X509Certificates.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Security.Cryptography.Primitives.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Security.Cryptography.Encoding.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Security.Cryptography.Algorithms.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Runtime.InteropServices.RuntimeInformation.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Runtime.InteropServices.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Runtime.Extensions.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Runtime.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Runtime.CompilerServices.Unsafe.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Reflection.Metadata.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Reflection.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Numerics.Vectors.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Net.Sockets.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Net.Http.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Linq.Expressions.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Linq.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.IO.FileSystem.Primitives.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.IO.FileSystem.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.IO.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.IO.Compression.ZipFile.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.IO.Compression.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Globalization.Calendars.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Fabric.Strings.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Fabric.Management.ServiceModel.XmlSerializers.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Fabric.Management.ServiceModel.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Fabric.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Diagnostics.Tracing.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Diagnostics.StackTrace.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Diagnostics.FileVersionInfo.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Diagnostics.DiagnosticSource.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Console.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.ComponentModel.TypeConverter.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.ComponentModel.Primitives.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Collections.NonGeneric.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Collections.Immutable.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.Buffers.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/System.AppContext.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Xml.XmlSerializer.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Xml.XDocument.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Xml.ReaderWriter.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Xml.Linq.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Xml.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Threading.Timer.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Threading.Tasks.Parallel.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Threading.Tasks.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Threading.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Text.RegularExpressions.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Text.Encoding.Extensions.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Text.Encoding.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.ServiceModel.Security.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.ServiceModel.Primitives.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.ServiceModel.NetTcp.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.ServiceModel.Http.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.ServiceModel.Duplex.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Security.Principal.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Security.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Security.Cryptography.X509Certificates.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Security.Cryptography.Primitives.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Security.Cryptography.Encoding.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Security.Cryptography.Algorithms.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Runtime.Serialization.Xml.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Runtime.Serialization.Primitives.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Runtime.Serialization.Json.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Runtime.Serialization.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Runtime.Numerics.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Runtime.InteropServices.WindowsRuntime.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Runtime.InteropServices.RuntimeInformation.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Runtime.InteropServices.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Runtime.Handles.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Runtime.Extensions.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Runtime.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Resources.ResourceManager.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Reflection.Primitives.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Reflection.Extensions.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Reflection.Emit.Lightweight.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Reflection.Emit.ILGeneration.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Reflection.Emit.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Reflection.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.ObjectModel.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Numerics.Vectors.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Numerics.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Net.WebHeaderCollection.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Net.Sockets.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Net.Requests.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Net.Primitives.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Net.NetworkInformation.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Net.Http.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Linq.Queryable.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Linq.Parallel.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Linq.Expressions.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Linq.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.IO.FileSystem.Primitives.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.IO.FileSystem.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.IO.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.IO.Compression.ZipFile.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.IO.Compression.FileSystem.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.IO.Compression.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Globalization.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Globalization.Calendars.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Dynamic.Runtime.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Drawing.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Diagnostics.Tracing.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Diagnostics.Tools.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Diagnostics.Debug.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Diagnostics.Contracts.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Data.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Core.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Console.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Configuration.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.ComponentModel.TypeConverter.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.ComponentModel.Primitives.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.ComponentModel.EventBasedAsync.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.ComponentModel.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.ComponentModel.DataAnnotations.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.ComponentModel.Composition.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.ComponentModel.Annotations.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Collections.NonGeneric.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Collections.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.Collections.Concurrent.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/System.AppContext.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/mscorlib.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/Microsoft.Win32.Primitives.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/refs/Microsoft.CSharp.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Newtonsoft.Json.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Win32.Primitives.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.ServiceFabric.Services.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.ServiceFabric.Internal.Strings.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.ServiceFabric.Internal.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.ServiceFabric.Data.Interfaces.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.ServiceFabric.Data.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.ServiceFabric.AspNetCore.WebListener.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.ServiceFabric.AspNetCore.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Net.Http.Server.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Net.Http.Headers.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Extensions.WebEncoders.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Extensions.Primitives.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Extensions.PlatformAbstractions.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Extensions.Options.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Extensions.ObjectPool.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Extensions.Logging.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Extensions.Logging.Debug.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Extensions.Logging.Console.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Extensions.Logging.Abstractions.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Extensions.Localization.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Extensions.Localization.Abstractions.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Extensions.Globalization.CultureInfoCache.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Extensions.FileSystemGlobbing.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Extensions.FileProviders.Physical.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Extensions.FileProviders.Composite.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Extensions.FileProviders.Abstractions.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Extensions.DiagnosticAdapter.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Extensions.DependencyModel.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Extensions.DependencyInjection.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Extensions.Configuration.Json.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Extensions.Configuration.FileExtensions.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Extensions.Configuration.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Extensions.Configuration.Binder.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Extensions.Configuration.Abstractions.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Extensions.Caching.Memory.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Extensions.Caching.Abstractions.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.DotNet.PlatformAbstractions.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Diagnostics.EventFlow.ServiceFabric.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Diagnostics.EventFlow.Outputs.ApplicationInsights.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Diagnostics.EventFlow.Inputs.EventSource.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Diagnostics.EventFlow.EtwUtilities.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.Diagnostics.EventFlow.Core.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.CodeAnalysis.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.CodeAnalysis.CSharp.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.WebUtilities.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Server.WebListener.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Server.Kestrel.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Server.IISIntegration.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Routing.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Routing.Abstractions.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.ResponseCaching.Abstractions.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Razor.Runtime.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Razor.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Mvc.ViewFeatures.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Mvc.TagHelpers.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Mvc.Razor.Host.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Mvc.Razor.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Mvc.Localization.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Mvc.Formatters.Json.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Mvc.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Mvc.DataAnnotations.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Mvc.Cors.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Mvc.Core.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Mvc.ApiExplorer.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Mvc.Abstractions.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Localization.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.JsonPatch.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.HttpOverrides.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Http.Features.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Http.Extensions.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Http.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Http.Abstractions.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Html.Abstractions.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Hosting.Server.Abstractions.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Hosting.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Hosting.Abstractions.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Diagnostics.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Diagnostics.Abstractions.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.DataProtection.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.DataProtection.Abstractions.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Cryptography.Internal.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Cors.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Authorization.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AspNetCore.Antiforgery.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.ApplicationInsights.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.ApplicationInsights.AspNetCore.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AI.ServerTelemetryChannel.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AI.PerfCounterCollector.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AI.DependencyCollector.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/Microsoft.AI.Agent.Intercept.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/libuv.dll
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/BasicService.runtimeconfig.json
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/BasicService.pdb
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/BasicService.exe.config
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/BasicService.exe
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/BasicService.deps.json
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/appsettings.json
/Service-Fabric-HotTelemetry/pkg/Debug/BasicServicePkg/Code/appsettings.Development.json
